*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: rozanna;
  src: url('/fonts/rosanna/Rosanna.ttf');
}

body {
  height: 100vh;
  font-family: rozanna;
  padding: 30px;
}

.container {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(222, 98, 98, 0.5),
      rgb(0, 0, 0, 0.2)
    ),
    url('https://images.unsplash.com/photo-1551298937-bef2232ce880?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=893&q=80');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}


