*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: rozanna;
  src: url('/fonts/rosanna/Rosanna.ttf');
}

body {
  height: 100vh;
  font-family: rozanna;
  padding: 30px;
}

.container {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(222, 98, 160, 0.7),
      rgb(0, 0, 0, 0.1)
    ),
    url('https://images.unsplash.com/photo-1519046904884-53103b34b206?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

h1 {
  text-align: center;
  font-size: 150px;
  padding-top: 200px;
  color: #f1f1f1;
  font-weight: lighter;
}
