*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: rozanna;
  src: url('/fonts/rosanna/Rosanna.ttf');
}

body{
    height: 100vh;
    font-family: rozanna;
    padding: 30px;
}
